<footer class="footer text-dark py-3">
  <div class="container">
    <div class="d-flex align-items-center mb-2">
      <div class="flex-grow-1 text-start">
        Usuario: <strong>{{usuario}}</strong>
      </div>
      <div class="flex-grow-1 text-center">
        Rol: <strong>{{rol}}</strong>
      </div>
      <div class="flex-grow-1 text-end">
        Correo: <strong>{{email}}</strong>
      </div>
    </div>
    <div class="text-center">
      <small>&copy; 2025 Jsiana. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>