.bg-soft-primary {
    background-color: #eef2ff !important;
    color: #4f46e5 !important;
}

.bg-success-soft {
    background-color: #f0fdf4 !important;
    color: #16a34a !important;
}

.bg-blue-light {
    background-color: #f0f9ff !important;
}