<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="display-4 m-0">Grupos</h1>
    <button class="btn btn-primary h-25 mb-0" ><i class="bi bi-plus"
            title="Crear Encargado"></i>Nuevo Grupo</button>
</div>

<div class="table-responsible custom-scroll">
    <table class="table table-striped table-hover custom-table">
        <thead class="table-danger sticky-header">
            <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Cruso</th>
                <th>Jornada</th>
                <th>Horario</th>
                <th>Día</th>
                <th>Cantidad de alumnos</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr >
                <td>1</td>
                <td>GRP-TOC</td>
                <td>Técnico Operador de Computadoras</td>
                <td>Matutina</td>
                <td>7:00 a 12:00 p.m.</td>
                <td>Sábado</td>
                <td>15</td>
                <td>
                    <button class="btn btn-sm btn-info me-1">Ver</button>
                    <button class="btn btn-sm btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>