<div class="sidebar-container d-flex flex-column h-100">


  <div class="nav-wrapper d-flex flex-column justify-content-center flex-grow-1">
    <nav class="nav-content px-3">
      <ul class="nav flex-column gap-1">

        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link main-link">
            <i class="bi bi-grid-1x2-fill me-3"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <div class="nav-link main-link has-submenu" (click)="toggleSubmenu('grupos')"
            [class.menu-open]="getState('grupos') === 'open'">
            <i class="bi bi-people-fill me-3"></i>
            <span>Grupos</span>
            <i class="bi bi-chevron-right ms-auto arrow-icon"></i>
          </div>
          <ul class="submenu-list flex-column" [@submenuToggle]="getState('grupos')">
            <li><a routerLink="/grupos" routerLinkActive="active-sub" class="nav-link sub-link ">Grupos activos</a></li>
            <li><a routerLink="/asistencia" class="nav-link sub-link">Asistencia</a></li>
            <li><a routerLink="/tareas" class="nav-link sub-link">Tareas</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <div class="nav-link main-link has-submenu" (click)="toggleSubmenu('registros')"
            [class.menu-open]="getState('registros') === 'open'">
            <i class="bi bi-folder-fill me-3"></i>
            <span>Registros</span>
            <i class="bi bi-chevron-right ms-auto arrow-icon"></i>
          </div>
          <ul class="submenu-list flex-column" [@submenuToggle]="getState('registros')">
            <li><a routerLink="/alumnos" routerLinkActive="active-sub" class="nav-link sub-link ">Alumnos</a></li>
            <li><a routerLink="/encargado" routerLinkActive="active-sub" class="nav-link sub-link ">Encargados</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <div class="nav-link main-link has-submenu" (click)="toggleSubmenu('seguridad')"
            [class.menu-open]="getState('seguridad') === 'open'">
            <i class="bi bi-shield-lock-fill me-3"></i>
            <span>Seguridad</span>
            <i class="bi bi-chevron-right ms-auto arrow-icon"></i>
          </div>
          <ul class="submenu-list flex-column" [@submenuToggle]="getState('seguridad')">
            <li><a routerLink="/users" routerLinkActive="active-sub" class="nav-link sub-link ">Usuarios</a></li>
            <li><a routerLink="/roles" routerLinkActive="active-sub" class="nav-link sub-link ">Roles</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <div class="nav-link main-link has-submenu" (click)="toggleSubmenu('operaciones')"
            [class.menu-open]="getState('operaciones') === 'open'">
            <i class="bi bi-cash-stack me-3"></i>
            <span>Operaciones</span>
            <i class="bi bi-chevron-right ms-auto arrow-icon"></i>
          </div>
          <ul class="submenu-list flex-column" [@submenuToggle]="getState('operaciones')">
            <li><a routerLink="/pagos" routerLinkActive="active-sub" class="nav-link sub-link">Pagos</a></li>
            <li><a routerLink="/calificaciones" routerLinkActive="active-sub" class="nav-link sub-link ">Notas</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <div class="nav-link main-link has-submenu" (click)="toggleSubmenu('reportes')"
            [class.menu-open]="getState('reportes') === 'open'">
            <i class="bi bi-pie-chart-fill me-3"></i>
            <span>Reportes</span>
            <i class="bi bi-chevron-right ms-auto arrow-icon"></i>
          </div>
          <ul class="submenu-list flex-column" [@submenuToggle]="getState('reportes')">
            <li><a routerLink="/reportes" routerLinkActive="active-sub" class="nav-link sub-link ">Listado</a></li>
            <li><a routerLink="/cierre" routerLinkActive="active-sub" class="nav-link sub-link ">Cierre Mensual</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a routerLink="/configuracion" routerLinkActive="active" class="nav-link main-link settings-link">
            <i class="bi bi-gear-fill me-3"></i>
            <span>Configuración</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>


</div>