  <div class="navbar custom-navbar navbar-expand ">
    <nav class="container-fluid d-flex align-items-center pt-2 justify-content-between">
      <div class="d-flex align-items-center gap-1">
        <button class="btn btn-outline-dark me-2" (click)="emitToggle()">☰</button>
        <div class="text-dark m-0 p-0">
          <h6 class="mb-0">ACADEMIA DE COMPUTACION BETSHALOM</h6>
          <h6 class="mb-0">ADMINISTRACION ESCOLAR</h6>
        </div>
      </div>

      <button class="btn btn-rojo-hover" (click)="cerrarSesion()">
        <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
      </button>
    </nav>
  </div>
