<div class="d-flex justify-content-between align-items-center mb-2">
    <div class="mb-2">
        <div class="d-flex align-items-baseline">
            <h1 class="fw-extrabold text-dark mb-0 me-2" style="font-size: 2.5rem;">Encargados</h1>
            <span class="badge bg-primary rounded-pill fw-bold"> {{ encargados.length}} Registrados</span>
        </div>
        <small class="text-secondary fw-light ps-1">Gestion administrativa</small>
    </div>


    <button class="btn btn-primary rounded-pill px-4 shadow-sm" (click)="abrirModalNuevo()">
        <i class="bi bi-person-plus-fill me-2"></i> Nuevo encargado
    </button>

</div>


<div class="card border-0 shadow-sm rounded-4 overflow-hidden">
    <div class="table-responsive custom-scroll">
        <table class="table table-hover align-middle m-0">
            <thead class="bg-light">
                <tr>
                    <th class="ps-4 text-muted small fw-bold text-uppercase">#</th>
                    <th class="text-muted small fw-bold text-uppercase">DPI</th>
                    <th class="text-muted small fw-bold text-uppercase">Nombre completo</th>
                    <th class="text-muted small fw-bold text-uppercase">Telefono</th>
                    <th class="text-muted small fw-bold text-uppercase">Direccion</th>
                    <th class="text-muted small fw-bold text-uppercase">Acciones</th>
                </tr>
            </thead>
            <tbody *ngIf="encargados.length > 0; else sinEncargados">
                <tr *ngFor="let encargado of encargados | slice:(paginaActual-1)*itemsPorPagina : paginaActual*itemsPorPagina; let i = index"
                    class="fs-6">
                    <td class="ps-4 fw-bold text-secondary">
                        {{ (paginaActual - 1) * itemsPorPagina + i + 1}}
                    </td>
                    <td>
                        <span>
                            {{ encargado.dpi}}
                        </span>
                    </td>
                    <td>
                        <div class="d-flex align-items-center p-0 lh-1">
                            <div class="avatar-sm me-3 bg-soft-primary text-primary rounded-circle d-flex align-items-center justify-content-center fw-bold"
                                style="width: 28px; height: 30px; font-size: 0.7rem; min-width: 28px;">
                                {{ encargado.nombres[0] }}{{ encargado.apellidos[0] }}
                            </div>
                            <div class="ms-2">
                                <span class="fw-bold text-dark small">
                                    {{ encargado.nombres}}
                                </span>
                                <br>
                                <div class="pt-2">
                                    <small class="text-muted">
                                        {{ encargado.apellidos}}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ encargado.telefono }}
                    </td>
                    <td>
                        {{ encargado.direccion }}
                    </td>
                    <td class="">
                        <button class="btn btn-sm btn-white shadow-sm border rounded-pill px-3"
                            (click)="abrirModalVer(encargado)">
                            <i class="bi bi-eye me-1 text-primary"></i>
                        </button>
                        <button class="btn btn-sm btn-white shadow-sm border rounded-pill px-3"
                            (click)="eliminarEncargado(encargado.id)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>

                </tr>
            </tbody>

        </table>
    </div>

    <div class="card-footer bg-white border-top py-3">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">

            <div class="text-muted small">
                Mostrando <b>{{ (paginaActual - 1 ) * itemsPorPagina +1}}</b> a
                <b>{{ Math.min(paginaActual * itemsPorPagina, encargados.length) }}</b> de
                <b>{{ encargados.length }}</b> encargados
            </div>

            <nav aria-label="Navegación de tabla">
                <ul class="pagination pagination-sm mb-0">
                    <li class="page-item" [class.disabled]="paginaActual === 1">
                        <button class="page-link border-0 rounded-circle me-1" (click)="paginaActual = paginaActual-1">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                    </li>

                    <li class="page-item" *ngFor="let p of totalPaginas">
                        <button class="page-link border-0 rounded-3 mx-1" [class.bg-primary]="paginaActual === p"
                            [class.text-white]="paginaActual === p" (click)="paginaActual = p">
                            {{ p }}
                        </button>
                    </li>

                    <li class="page-item" [class.disabled]="paginaActual * itemsPorPagina >= encargados.length">
                        <button class="page-link border-0 rounded-circle ms-1"
                            (click)="paginaActual = paginaActual + 1">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </li>

                </ul>

            </nav>

            <div class="d-flex align-items-center">
                <span class="text-muted small me-2">Filas:</span>
                <select class="form-select form-select-sm border-light bg-light fw-bold" style="width: 70px;"
                    [(ngModel)]="itemsPorPagina">
                    <option [value]="5">5</option>
                    <option [value]="10">10</option>

                </select>
            </div>

        </div>
    </div>

</div>

<ng-template #sinEncargados>
    <tr>
        <td colspan="5" class="text-center py-5">
            <p class="text-muted mb-0">No hay encargados registrados o coincidentes.</p>
        </td>
    </tr>
</ng-template>



<div class="modal fade show" tabindex="-1" style="display: block; " *ngIf="mostrarModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg rounded-4">
            <div class="modal-header border-bottom-0 pt-4 px-4">
                <h5 class="fw-bold text-dark mb-0">
                    <i class="bi bi-person-lines-fill me-2 text-primary"></i>
                    <ng-container *ngIf="encargadoSeleccionado; else tituloNuevo">
                        {{ modoEdicion ? (encargadoSeleccionado.id ? 'Editar Expedientes' : 'Nuevo Registro') : 'Detalle
                        de encargado'}}
                    </ng-container>
                    <ng-template #tituloNuevo>
                        Registrar Encargado
                    </ng-template>
                </h5>
                <button type="button" class="btn-close shadow-none" (click)="cerrarModal()"></button>
            </div>

            <div class="modal-body px-4 pb-4">
                <div class="row g-4" *ngIf="encargadoSeleccionado">

                    <div class="col-12">
                        <h6 class="text-primary fw-bold small text-uppercase mb-3 border-bottom pb-2">Informacion
                            Personal</h6>

                        <div class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label small fw-bold text-muted">DPI</label>
                                <input type="text" class="form-control bg-light border"
                                    [(ngModel)]="encargadoSeleccionado.dpi" (ngModelChange)="encargadoSeleccionado.dpi"
                                    [readonly]="!modoEdicion">
                            </div>

                            <div class="col-md-4">
                                <label class="form-label small fw-bold text-muted">Nombres</label>
                                <input type="text" class="form-control bg-light border"
                                    [(ngModel)]="encargadoSeleccionado.nombres"
                                    (ngModelChange)="encargadoSeleccionado.nombres" [readonly]="!modoEdicion">
                            </div>

                            <div class="col-md-4">
                                <label class="form-label small fw-bold text-muted">Apellidos</label>
                                <input type="text" class="form-control bg-light border"
                                    [(ngModel)]="encargadoSeleccionado.apellidos"
                                    (ngModelChange)="encargadoSeleccionado.apellidos" [readonly]="!modoEdicion">
                            </div>


                        </div>
                    </div>

                    <div class="col-12">
                        <div class="bg-light p-4 rounded-4 border">
                            <h6 class="text-dark fw-bold small text-uppercase mb-3"> Informacion extra</h6>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="form-label small fw-bold text-muted">Telefono</label>
                                    <input type="text" class="form-control bg-light border"
                                        [(ngModel)]="encargadoSeleccionado.telefono"
                                        (ngModelChange)="encargadoSeleccionado.telefono" [readonly]="!modoEdicion">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label small fw-bold text-muted">Direccion</label>
                                    <input type="text" class="form-control bg-light border"
                                        [(ngModel)]="encargadoSeleccionado.direccion"
                                        (ngModelChange)="encargadoSeleccionado.direccion" [readonly]="!modoEdicion">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal-footer border-top-0 px-4 pb-4">
                <button *ngIf="!modoEdicion" class="btn btn-warning px-4 rounded-pill fw-bold"
                    (click)="activarEdicion()">
                    <i class="bi bi-pencil me-2"></i> Editar
                </button>
                <button *ngIf="modoEdicion && encargadoSeleccionado" class="btn btn-primary px-4 rounded-pill fw-bold shadow-sm" (click)="guardarEncargado()">
                    <i class="bi bi-save me-2"></i>
                    {{ encargadoSeleccionado.id ? 'Guardar Cambios' : 'Registrar Encargado'}}
                </button>
                <button class="btn btn-light px-4 rounded-pill text-muted" (click)="cerrarModal()">Cerrar</button>

            </div>

        </div>

    </div>


</div>

<div class="modal-backdrop fade show" *ngIf="mostrarModal"></div>