<div class="d-flex justify-content-between align-items-center mb-2">
  <div class="mb-2">
    <div class="d-flex align-items-baseline">
      <h1 class="fw-extrabold text-dark mb-0 me-2" style="font-size: 2.5rem;">Alumnos</h1>
      <span class="badge bg-primary rounded-pill fw-bold">{{ alumnos.length }} Registrados</span>
    </div>
    <small class="text-secondary fw-light ps-1">Gestión de expedientes y registros escolares</small>
  </div>

  <button class="btn btn-primary rounded-pill px-4 shadow-sm" (click)="abrirModalNuevo()">
    <i class="bi bi-person-plus-fill me-2"></i> Nuevo Alumno
  </button>
</div>

<div class="card border-0 shadow-sm rounded-4 overflow-hidden">
  <div class="table-responsive custom-scroll">
    <table class="table table-hover align-middle m-0">
      <thead class="bg-light">
        <tr>
          <th class="ps-4 text-muted small fw-bold text-uppercase">#</th>
          <th class="text-muted small fw-bold text-uppercase">Código</th>
          <th class="text-muted small fw-bold text-uppercase">Nombre Completo</th>
          <th class="text-muted small fw-bold text-uppercase text-center">Estado</th>
          <th class="pe-4 text-end text-muted small fw-bold text-uppercase">Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="alumnos.length > 0; else sinAlumnos">
        <tr
          *ngFor="let alumno of alumnos | slice:(paginaActual-1)*itemsPorPagina : paginaActual*itemsPorPagina; let i = index"
          class="fs-6">
          <td class="ps-4 fw-bold text-secondary">
            {{ (paginaActual - 1) * itemsPorPagina + i + 1 }}
          </td>
          <td>
            <span class="">
              {{ alumno.codigoPersonal }}
            </span>
          </td>
          <td>
            <div class="d-flex align-items-center p-0 lh-1">
              <div
                class="bg-soft-primary text-primary rounded-circle d-flex align-items-center justify-content-center fw-bold"
                style="width: 30px; height: 30px; font-size: 0.7rem; min-width: 28px;"> {{ alumno.primerNombre[0] }}{{
                alumno.primerApellido[0] }}
              </div>

              <div class="ms-2"> <span class="fw-bold text-dark small">{{ alumno.primerNombre }} {{
                  alumno.segundoNombre }}
                </span>
                <br>
                <div class="pt-2"><small class="text-muted">
                    {{ alumno.primerApellido }} {{ alumno.segundoApellido }}
                  </small>
                </div>
              </div>
            </div>
          </td>
          <td class="text-center">
            <span class="badge rounded-pill px-3"
              [ngClass]="alumno.estado ? 'bg-success-soft text-success' : 'bg-danger-soft text-danger'">
              {{ alumno.estado ? 'Activo' : 'Inactivo' }}
            </span>
          </td>
          <td class="pe-4 text-end">
            <div class="btn-group shadow-sm rounded-pill overflow-hidden">
              <button class="btn btn-white btn-sm border-end" (click)="abrirModalVer(alumno)" title="Ver Detalle">
                <i class="bi bi-eye text-primary"></i>
              </button>
              <button class="btn btn-white btn-sm" (click)="eliminarAlumno(alumno)" title="Eliminar">
                <i class="bi bi-trash3 text-danger"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer bg-white border-top py-3">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">

      <div class="text-muted small">
        Mostrando <b>{{ (paginaActual - 1) * itemsPorPagina + 1 }}</b> a
        <b>{{ Math.min(paginaActual * itemsPorPagina, alumnos.length) }}</b> de
        <b>{{ alumnos.length }}</b> alumnos
      </div>

      <nav aria-label="Navegación de tabla">
        <ul class="pagination pagination-sm mb-0">
          <li class="page-item" [class.disabled]="paginaActual === 1">
            <button class="page-link border-0 rounded-circle me-1" (click)="paginaActual = paginaActual - 1">
              <i class="bi bi-chevron-left"></i>
            </button>
          </li>

          <li class="page-item" *ngFor="let p of totalPaginas">
            <button class="page-link border-0 rounded-3 mx-1" [class.bg-primary]="paginaActual === p"
              [class.text-white]="paginaActual === p" (click)="paginaActual = p">
              {{ p }}
            </button>
          </li>

          <li class="page-item" [class.disabled]="paginaActual * itemsPorPagina >= alumnos.length">
            <button class="page-link border-0 rounded-circle ms-1" (click)="paginaActual = paginaActual + 1">
              <i class="bi bi-chevron-right"></i>
            </button>
          </li>
        </ul>
      </nav>

      <div class="d-flex align-items-center">
        <span class="text-muted small me-2">Filas:</span>
        <select class="form-select form-select-sm border-light bg-light fw-bold" style="width: 70px;"
          [(ngModel)]="itemsPorPagina">
          <option [value]="5">5</option>
          <option [value]="10">10</option>

        </select>
      </div>
    </div>
  </div>
</div>

<ng-template #sinAlumnos>
  <tr>
    <td colspan="5" class="text-center py-5">
      <p class="text-muted mb-0">No hay alumnos registrados o coincidentes.</p>
    </td>
  </tr>
</ng-template>

<div class="modal fade show" tabindex="-1" style="display: block;" *ngIf="mostrarModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg rounded-4">

      <div class="modal-header border-bottom-0 pt-4 px-4">
        <h5 class="fw-bold text-dark mb-0">
          <i class="bi bi-person-lines-fill me-2 text-primary"></i>
          <ng-container *ngIf="alumnoSeleccionado; else tituloNuevo">
            {{ modoEdicion ? (alumnoSeleccionado.id ? 'Editar Expediente' : 'Nuevo Ingreso') : 'Detalle del Alumno' }}
          </ng-container>
          <ng-template #tituloNuevo>Registrar Alumno</ng-template>
        </h5>
        <button type="button" class="btn-close shadow-none" (click)="cerrarModal()"></button>
      </div>

      <div class="modal-body px-4 pb-4">
        <div class="row g-4" *ngIf="alumnoSeleccionado">

          <div class="col-12">
            <h6 class="text-primary fw-bold small text-uppercase mb-3 border-bottom pb-2">Informacion personal del
              alumno</h6>
            <div class="row g-3">
              <div class="col-md-4">
                <label class="form-label small fw-bold text-muted">Código Personal</label>
                <input type="text" class="form-control bg-light border-0"
                  [(ngModel)]="alumnoSeleccionado.codigoPersonal"
                  (ngModelChange)="alumnoSeleccionado.codigoPersonal = $event.toUpperCase()" [readOnly]="!modoEdicion">
              </div>
              <div class="col-md-4">
                <label class="form-label small fw-bold text-muted">Género</label>
                <select class="form-select bg-light border-0" [(ngModel)]="alumnoSeleccionado.sexo"
                  [disabled]="!modoEdicion">
                  <option [ngValue]="'Masculino'">Masculino</option>
                  <option [ngValue]="'Femenino'">Femenino</option>
                </select>
              </div>
              <div class="col-md-4">
                <label class="form-label small fw-bold text-muted">Fecha Nacimiento</label>
                <input type="date" class="form-control bg-light border-0"
                  [(ngModel)]="alumnoSeleccionado.fechaNacimiento" [readOnly]="!modoEdicion">
              </div>
            </div>
          </div>

          <div class="col-12">

            <div class="row g-3">
              <div class="col-md-4">
                <label class="form-label small fw-bold text-muted">Primer Nombre</label>
                <input type="text" class="form-control bg-light border-0" [(ngModel)]="alumnoSeleccionado.primerNombre"
                  [readOnly]="!modoEdicion">
              </div>
              <div class="col-md-4">
                <label class="form-label small fw-bold text-muted">Segundo Nombre</label>
                <input type="text" class="form-control bg-light border-0" [(ngModel)]="alumnoSeleccionado.segundoNombre"
                  [readOnly]="!modoEdicion">
              </div>
              <div class="col-md-4">
                <label class="form-label small fw-bold text-muted">Tercer Nombre</label>
                <input type="text" class="form-control bg-light border-0" [(ngModel)]="alumnoSeleccionado.tercerNombre"
                  [readOnly]="!modoEdicion">
              </div>
              <div class="col-md-6">
                <label class="form-label small fw-bold text-muted">Primer Apellido</label>
                <input type="text" class="form-control bg-light border-0"
                  [(ngModel)]="alumnoSeleccionado.primerApellido" [readOnly]="!modoEdicion">
              </div>
              <div class="col-md-6">
                <label class="form-label small fw-bold text-muted">Segundo Apellido</label>
                <input type="text" class="form-control bg-light border-0"
                  [(ngModel)]="alumnoSeleccionado.segundoApellido" [readOnly]="!modoEdicion">
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row g-3">
              <div class="col-md-4">
                <label class="form-label small fw-bold text-muted">Teléfono del Alumno</label>
                <input type="text" class="form-control bg-light border-0" [(ngModel)]="alumnoSeleccionado.telefono"
                  [readOnly]="!modoEdicion">
              </div>
              <div class="col-md-4">
                <label class="form-label small fw-bold text-muted">Correo Electrónico</label>
                <input type="email" class="form-control bg-light border-0" [(ngModel)]="alumnoSeleccionado.email"
                  [readOnly]="!modoEdicion">
              </div>
              <div class="col-md-4">
                <label class="form-label small fw-bold text-muted">Último Grado</label>
                <input type="text" class="form-control bg-light border-0" [(ngModel)]="alumnoSeleccionado.ultimoGrado"
                  [readOnly]="!modoEdicion">
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="bg-light p-4 rounded-4 border">
              <h6 class="text-dark fw-bold small text-uppercase mb-3">Responsable Legal (Encargado)</h6>
              <div class="row g-3">
                <div class="col-12">
                  <label class="form-label small fw-bold text-muted">Nombre del Encargado</label>
                  <select class="form-select border-0 shadow-sm" [(ngModel)]="alumnoSeleccionado.idEncargado"
                    [disabled]="!modoEdicion">
                    <option [ngValue]="null" disabled>Seleccione un encargado</option>
                    <option *ngFor="let encargado of encargados" [ngValue]="encargado.id">
                      {{encargado.nombres}} {{encargado.apellidos}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer border-top-0 px-4 pb-4">
        <button *ngIf="!modoEdicion" class="btn btn-warning px-4 rounded-pill fw-bold" (click)="activarEdicion()">
          <i class="bi bi-pencil me-2"></i>Editar
        </button>
        <button *ngIf="modoEdicion && alumnoSeleccionado" class="btn btn-primary px-4 rounded-pill fw-bold shadow-sm"
          (click)="guardarAlumno()">
          <i class="bi bi-save me-2"></i>
          {{ alumnoSeleccionado.id ? 'Guardar Cambios' : 'Registrar Alumno' }}
        </button>
        <button class="btn btn-light px-4 rounded-pill text-muted" (click)="cerrarModal()">Cerrar</button>
      </div>

    </div>
  </div>
</div>

<div class="modal-backdrop fade show" *ngIf="mostrarModal"></div>