.fondo-login {
  /* Sustituye por tu imagen real */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url(../../../img/login.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card {
  border-radius: 15px;
  backdrop-filter: blur(5px); /* Efecto moderno de desenfoque */
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
}

.btn-primary {
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
}

.input-group-text {
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    color: var(--bs-primary);
  }
}