<div class="content">
  <div class="title d-flex justify-content-between aling-items-center fs-1 fw-bold">
    <p class="mb-0">Listado de usuarios</p>
    <!--
    
    -->
    <button class="btn btn-primary h-25 mb-0" (click)="abrirFormulario()"> <!-- ABRIR FORMULARIO-->
      <i class="bi bi-plus" title="Crear usuario"></i>
      Nuevo Usuario</button>

  </div>
</div>

<div class="table-responsible custom-scroll">
  <table class="table table-striped table-hover custom-table">

    <thead class="table-danger sticky-header">
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Correo electronico</th>
        <th>Rol</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id}}</td>
        <td>{{ usuario.usuario}}</td>
        <td>{{ usuario.nombre}}</td>
        <td>{{ usuario.email}}</td>
        <td>{{ usuario.rolNombre}}</td>
        <td>
          <span class="badge" [ngClass]="usuario.estado ? 'bg-success' : 'bg-danger'">
            {{ usuario.estado ? 'Activo' : 'Inactivo'}}
          </span>
        </td>
        <td class="text-end pe-4">
          <button class="btn btn-warning btn-sm me-1"> <!--METODO DE MODIFICAR-->
            Modificar
          </button>
          <button class="btn btn-danger btn-sm "> <!--METODO DE DESACTIVAR-->
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>

    <p *ngIf="mensajeError" class="text-danger">{{mensajeError}}</p>


  </table>
</div>


<!-- Modal -->

<div class="modal fade show" tabindex="-1" role="dialog" [ngStyle]="{ 
  display: mostrarFormulario ? 'block' : 'none'}" *ngIf="mostrarFormulario">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear nuevo usuario</h5>
        <button type="button" class="btn-close" (click)="cerrarFormulario()"></button>
      </div>

      <div class="modal-body">
        <form *ngIf="usuarioSeleccionado" (ngSubmit)="guardarUsuario()" #usuarioForm="ngForm">

          <!--USUARIO-->
          <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" id="usuario" name="usuario" class="form-control" required
              [(ngModel)]="usuarioSeleccionado.usuario" #usuario="ngModel" />
            <div *ngIf="usuario.invalid && usuario.touched" class="text-danger">
              El nombre de usuario es obligatorio.
            </div>
          </div>

          <!--NOMBRE-->
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required
              [(ngModel)]="usuarioSeleccionado.nombre" #nombre="ngModel" />
            <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
              El nombre es obligatorio
            </div>
          </div>

          <!--Email-->
          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" id="email" name="email" class="form-control" required
              [(ngModel)]="usuarioSeleccionado.email" #email="ngModel" />
            <div *ngIf="email.invalid && email.touched" class="text-danger">
              El Correo Electronico es obligatorio
            </div>
          </div>

          <!--Contrasenia-->
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" required
              [(ngModel)]="usuarioSeleccionado.contrasenia" #password="ngModel" />
            <div *ngIf="password.invalid && password.touched" class="text-danger">
              La contrasenia es obligatoria
            </div>
          </div>

          <!--ROL-->
          <div class="mb-3">
            <label for="rol" class="form-label">ROL</label>
            <select class="form-select" id="rol" name="rol" required [(ngModel)]="rolSeleccionadoId" #rol="ngModel">
              <option [ngValue]="null" disabled>Selecciona un Rol</option>
              <option *ngFor="let rol of roles" [ngValue]="rol.id">{{ rol.nombreRol }}</option>
            </select>

            <div *ngIf="rol.invalid && rol.touched" class="text-danger">
              El rol es obligatorio
            </div>
          </div>

          <!--Buttons-->
          <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">
              {{usuarioSeleccionado.id ? 'Guardar Cambios':'Crear Usuario'}}
            </button>

            <button type="button" class="btn btn-secondary ms-2" (click)="cerrarFormulario()">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="modal-backdrop fade show" *ngIf="mostrarFormulario" (click)="cerrarFormulario()"></div>
